head

  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  include seo.jade

  link(href='https://fonts.googleapis.com/css?family=Roboto+Mono', rel='stylesheet')
  style.
    html, body {
      margin: 0;
      overflow: hidden;
      background: #000;
    }
    .credits {
      position: absolute;
      bottom: 5px;
      left: 10px;
      color: #fff;
      opacity: 0.05;
      font-family: "Roboto Mono", monospace;
      font-size: 80%;
    }
    .credits:hover {
      opacity: 0.2;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
