doctype html
html(lang='en')
  include head.jade
  body
    .credits
      a(href='https://codepen.io/Alca/') Jacob Foster
      = ' | '
      a(href='https://www.gsw.nyc') Greg Walden
    include scripts.jade
